body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.domaine-section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #444;
}

.form-label {
    font-size: 1rem;
    font-weight: 500;
}

.container {
    max-width: 800px;
}

#myChart {
    margin-top: 40px;
}
